<!-- Display logo -->
<h1 id="logo">bitly</h1>

<!-- Display form -->
<form action="/urls" method="post">
	<!-- Enter URL: -->
	<input type="text" name="long_url" placeholder="Paste a link to shorten it">
	<!-- <input type="text" name="url[long_url]"> -->
	<input type="submit" value="SHORTEN">
</form>

<!-- User.new(name: params[:name], age: params[:age]) -->
<!-- User.new(params[:url]) -->

<!-- Display error messages -->
<% if @errors %>
  <p class="error">Invalid input! Please check your input.</p>
  <ul>
	<% @errors.each do |error| %>
		<li class="error"><%= error[0].to_s %>: <%= error[1].join(",") %></li>
	<% end %>
  </ul>
<% end %>

<!-- Display shorten url -->
<!-- <ul>
  <% @urls.each do |url| %>
	<li><a href="<%=url.short_url %>" target="_blank"><%=url.short_url %></a></li>
	<% end %>
</ul> -->

<table>
  <tr>
  	<th>No.</th>
  	<th>Long URL</th>
  	<th>Short URL</th>
  	<th>Click Count</th>
  </tr>
  <% @urls.each_with_index do |url, i| %>
	<tr>
		<td><%= i + 1 %>.</td>
	  <td><%= url.long_url %></td>
		<td><a href="<%= url.short_url %>" target="_blank"><%= url.short_url %></a></td>
		<td><%= url.click_count%></td>
	</tr>
 	<% end %>
 </table>

<!-- <table>
	<% url = @urls.last %>
	<tr>
		<td><a href="<%=url.short_url %>" target="_blank"><%=url.short_url %></a></td>
	</tr>
</table> -->

