<div id="img-container">
<!-- Display logo -->
<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<h1 id="logo">bitly</h1>
		</div>
	</div>
</div>


<!-- Display form -->
<div class="container">
	<div class="row">
		<form action="/urls" method="post">
		<div class="col-xs-9">
			<input type="text" class="form-control input-lg" name="long_url" placeholder="Paste a link to shorten it" required>
			<!-- <input type="text" name="url[long_url]"> -->
		</div>
		<div class="col-xs-3">
			<input id="shorten-button" class="btn btn-primary btn-block btn-lg" type="submit" value="SHORTEN">
		</div>
		</form>
	</div>
</div>

<!-- User.new(name: params[:name], age: params[:age]) -->
<!-- User.new(params[:url]) -->

<!-- Display error messages -->
<% if @errors %>
  <p class="error">Invalid input! Please check your input.</p>
  <ul>
	<% @errors.each do |error| %>
		<li class="error"><%= error[0].to_s %>: <%= error[1].join(",") %></li>
	<% end %>
  </ul>
<% end %>
</div>
<!-- End of img-container -->


<!-- Start of history table container -->
<div id="history-table-container">
<button id="toggleHistoryButton">Hide/Show history</button>

<table>
  <tr>
  	<th>No.</th>
  	<th>Long URL</th>
  	<th>Short URL</th>
  	<th>Click Count</th>
  </tr>
  <% @urls.each_with_index do |url, i| %>
	<tr>
		<td><%= i + 1 %>.</td>
	  <td><%= url.long_url %></td>
		<td>
			<div class="copy-container">
			<div class="copyLeft">
				<a class="copyTarget" href="<%= url.short_url %>" target="_blank"><%= url.short_url %></a>
			</div>
			<div class="copyRight">
				<button id="copyButton-<%= i %>" class="btn btn-primary copyButton masterTooltip" title="Copy to clipboard"><i class="fa fa-copy"></i></button>
			</div>
			</div>
		</td>
		<td><%= url.click_count%></td>
	</tr>
 	<% end %>
 </table>
</div>
<!-- End of history table container -->
